# Ingesting DataFrames in pandas

In [1]:
import pandas as pd
import numpy as np

## Creating DataFrames

### Building a DataFrame

Pass a dictionary of {column_name: column_values}. Using list(zip()) may be useful for adding names to values

In [2]:
my_df = pd.DataFrame({'A': [1, 2, 3], 'B': ['I', 'II', 'III']})
print(my_df)

   A    B
0  1    I
1  2   II
2  3  III

Broadcast a single value to all rows

In [3]:
my_df = pd.DataFrame({'A': [1, 2, 3], 'Type': 'Number'})
print(my_df)

   A    Type
0  1  Number
1  2  Number
2  3  Number

In [4]:
my_df = pd.DataFrame({'B': [4, 5, 6]})
my_df['Type'] = 'Value'        # Can't use my_df.Type here for new columns
print(my_df)

   B   Type
0  4  Value
1  5  Value
2  6  Value

Random numbers in a DataFrame

In [5]:
my_df = pd.DataFrame(np.random.randint(low=0, high=10, size=(3,3)),
                     columns=['A', 'B', 'C'])
print(my_df)

   A  B  C
0  8  0  6
1  9  9  2
2  8  3  7

Setting the index

In [6]:
my_df = pd.DataFrame(np.random.randint(low=0, high=10, size=(3,3)),
                     columns=['On', 'Tw', 'Th'])
my_df.index = ['Fir', 'Sec', 'Thi']
print(my_df)

     On  Tw  Th
Fir   3   0   7
Sec   8   5   1
Thi   3   4   1

### Reading Into a DataFrame

From CSV:

In [7]:
df = pd.read_csv('data/volc_holocene.csv',
                 header=0,    # Give the row with the column names
                              # Start reading data from after this point
                              # Can be a list for setting a multi-index
                              # Set None if there are no names
                 delimiter=',', # Override the delimiter
                 comment='#', # Specify a comment marker
               # nrows=3,     # Limit the number of rows to read
               # names=['I', 'know', 'columns', 'myself']  # Specify the column names to use
               # parsedates=[[2, 3, 4]]   # Lots of options...which sets of columns make up a date
                 na_values='unknown',  # What value to replace with NaN.
                                       #   Can be a dictionary of {col_name: value}
                 index_col='Number',   # Give a column name or number to
                )                      #    become the index
df.head()

,Name,Country,Region,Type,Activity Evidence,Last Known Eruption,Latitude,Longitude,Elevation (Meters),Dominant Rock Type,Tectonic Setting
Number,,,,,,,,,,,
210010,West Eifel Volcanic Field,Germany,Mediterranean and Western Asia,Maar(s),Eruption Dated,8300 BCE,50.170,6.85,600,Foidite,Rift Zone / Continental Crust (>25 km)
210020,Chaine des Puys,France,Mediterranean and Western Asia,Lava dome(s),Eruption Dated,4040 BCE,45.775,2.97,1464,Basalt / Picro-Basalt,Rift Zone / Continental Crust (>25 km)
210030,Olot Volcanic Field,Spain,Mediterranean and Western Asia,Pyroclastic cone(s),Evidence Credible,Unknown,42.170,2.53,893,Trachybasalt / Tephrite Basanite,Intraplate / Continental Crust (>25 km)
210040,Calatrava Volcanic Field,Spain,Mediterranean and Western Asia,Pyroclastic cone(s),Eruption Dated,3600 BCE,38.870,-4.02,1117,Basalt / Picro-Basalt,Intraplate / Continental Crust (>25 km)
211001,Larderello,Italy,Mediterranean and Western Asia,Explosion crater(s),Eruption Observed,1282 CE,43.250,10.87,500,No Data,Subduction Zone / Continental Crust (>25 km)

From an Excel file:

In [8]:
xl = pd.ExcelFile('data/favorites.xlsx')
print(xl.sheet_names)                  # Get a list of sheets
df = xl.parse('Colors',                # Get a sheet as a DataFrame. By name or index
               skiprows=[1],           # Don't load these rows
               parse_cols=[1, 2, 3, 4, 5, 6, 7],  # List of columns to parse
               names=['Y', 'm', 'd', 'H', 'M', 'S', 'Color'])        # List of column names
df.head()

['Colors', 'Foods']

      Y  m   d   H   M   S  Color
0  2024  5  15  19  17  53  Green
1  2015  6  22  14  19  44   Blue

In [9]:
# Alternatively,
xl = pd.read_excel('data/favorites.xlsx', sheetname=None)
df = xl['Colors']
df.head()

     Year  Month  Day  Hour  Minute  Second Favorite Colour
NaN  2019      2   24     9      15       2             Red
NaN  2024      5   15    19      17      53           Green
NaN  2015      6   22    14      19      44            Blue

From SAS file: (for the Statistical Analysis System)

In [10]:
from sas7bdat import SAS7BDAT
with SAS7BDAT('data/food.sas7bdat') as sas_file:
    sas_df = sas_file.to_data_frame()
sas_df.head()

     FOOD_EXP  INCOME
0  115.220001    3.69
1  135.979996    4.39
2  119.339996    4.75
3  114.959999    6.03
4  187.050003   12.47

From Stata file: (STAtistical daTA)

In [11]:
stata_df = pd.read_stata('data/euro.dta')
stata_df.head()

           r
0  -2.554278
1  10.878110
2  -0.236407
3   1.540284
4   0.700117

From HDF5: (Hierarchical Data Format 5)

In [ ]:
import h5py
data = h5py.File('data/LIGO.hdf5', 'r')   # Open for reading
list(data.keys())    # Show the groups in the dataset

In [1]:
group = data['meta']
print(list(group.keys()))      # Check the values in the group
group['Description'].value

NameError: name 'data' is not defined

From Matlab:    (Matrix Laboratory)

In [2]:
import scipy.io
mat = scipy.io.loadmat('')

FileNotFoundError: [Errno 2] No such file or directory: ''

From SQL database:    (Structured Query Language, e.g. SQLite, MySQL, or PostgreSQL)

In [3]:
import sqlalchemy
engine = sqlalchemy.create_engine('sqlite:///data/chinook.db')      # Give a type spec and a path
print(engine.table_names())       # Get a list of the names of the tables. No connection needed

['albums', 'artists', 'customers', 'employees', 'genres', 'invoice_items', 'invoices', 'media_types', 'playlist_track', 'playlists', 'sqlite_sequence', 'sqlite_stat1', 'tracks']

In [6]:
with engine.connect() as con:                         # Otherwise, call con.close()
    result = con.execute("SELECT * FROM genres")       # Perform a SQL query
    df = pd.DataFrame(result.fetchall())              # Get all results
    # df = pd.DataFrame(result.fetchmany(size=10))    # Get a subset of the results
    df.columns = result.keys()                        # Pull the column names from the result
df.head()

   GenreId                Name
0        1                Rock
1        2                Jazz
2        3               Metal
3        4  Alternative & Punk
4        5       Rock And Roll

Or with pandas:

In [7]:
# Remember inner joins?
df = pd.read_sql_query("SELECT * FROM Albums INNER JOIN Artists "
                       "on Artists.ArtistId = Albums.ArtistId", engine)
df.head()

,AlbumId,Title,ArtistId,ArtistId,Name
0,1,For Those About To Rock We Salute You,1,1,AC/DC
1,2,Balls to the Wall,2,2,Accept
2,3,Restless and Wild,2,2,Accept
3,4,Let There Be Rock,1,1,AC/DC
4,5,Big Ones,3,3,Aerosmith

From Online:

In [8]:
from urllib.request import urlretrieve
urlretrieve('http://samplecsvs.s3.amazonaws.com/Sacramentorealestatetransactions.csv', 'data/real-estate.csv')
df = pd.read_csv('data/real-estate.csv', header=0, parse_dates=[8])
df.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,2008-05-21,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,2008-05-21,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,2008-05-21,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,2008-05-21,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,2008-05-21,81900,38.519470,-121.435768

Sending a GET request:

In [9]:
from urllib.request import urlopen, Request
request = Request('http://www.google.com')
response = urlopen(request)
print(response.getheader('Date'))
# response.read() to get contents
response.close()

Wed, 11 Sep 2019 01:35:46 GMT

But using requests:

In [10]:
import requests
r = requests.get("http://www.google.com")
print(r.text[:500])    # I heard you like raw HTML...Loading a structured (heterogeneous) array:

<!doctype html><html itemscope="" itemtype="http://schema.org/WebPage" lang="en"><head><meta content="Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking for." name="description"><meta content="noodp" name="robots"><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><meta content="/images/branding/googleg/1x/googleg_standard_color_128dp.png" itemprop="image"><title>Google</title>

In [11]:
from bs4 import BeautifulSoup
import requests
r = requests.get('http://www.google.com')
soup = BeautifulSoup(r.text, "lxml")
pretty_version = soup.prettify()
print('\n'.join(pretty_version.splitlines()[:10]))    # Just print part of it

<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="en">
 <head>
  <meta content="Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking for." name="description"/>
  <meta content="noodp" name="robots"/>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="/images/branding/googleg/1x/googleg_standard_color_128dp.png" itemprop="image"/>
  <title>
   Google
  </title>

In [12]:
# Get tags by name
title = soup.title
print('\nTitle:', title, '-', title.text)

Title: <title>Google</title> - Google

In [13]:
scripts = soup.find_all('script')    # Get all the tags of a certain type
print(scripts[0].get('nonce'))       # Get an attribute from one of the tags

C4YJeHntB0wHVIS87p5D+Q==

#### To a numpy array

From a text file: (homogeneous)

In [14]:
data = np.loadtxt('data/dimensions.txt',  # Source file
                  skiprows=1,         # A number of rows to skip at the top
                  usecols=[1, 2, 3, 4],   # A list of row indices to take
                  dtype=int,          # Specify the data type
                  delimiter='/')      # Default is whitespace
data

array([[ 400,  180,  160, 1400],
       [  20,    8,    7,    1],
       [ 140,   50,   40,   35]])

Loading a structured (heterogeneous) array:

In [15]:
data = np.genfromtxt('data/dimensions.txt',
                     dtype=None,                    # Infer column data types
                     delimiter='/',
                     names=True)                    # Store column names from first row
np.shape(data)          # This is a 1-D array, with labelled entries for each row
data[2]['Weight']       # Access by index AND/OR column number

35

The default dtype here is None, and we get a record array:

In [16]:
data = np.recfromtxt('data/dimensions.txt', delimiter='/', names=True)
data

rec.array([(b'Car', 400, 180, 160, 1400), (b'Bread',  20,   8,   7,    1),
 (b'Coffee Table', 140,  50,  40,   35)],
          dtype=[('Name', 'S12'), ('Length', '<i4'), ('Width', '<i4'), ('Height', '<i4'), ('Weight', '<i4')])

Loading and plotting pixel data:

In [ ]:
# values = np.readtext(input_file)  # Assumes whitespace-separated
# image_square = np.reshape(values, (h, w))
# plt.imshow(image_square, cmap='Greys', interpolation='nearest')
# plt.show()